/* global */

#page-account-global
{
    margin: 2em 6%;
    position: relative;
    text-align: center;
}

#page-account-global .module
{
    display: inline-block;
    float: none;
    padding: 2em 2%;
    margin: 0 3% 3em 0;
    min-height: 36em;
    min-width: 28em;
    width: 25.5%;
    vertical-align: top;
}

#page-account-global .module h2
{
    font-family: 'caviar_dreamsbold', Arial, sans-serif;
    font-weight: bold;
    line-height: 2em;
    text-transform: uppercase;
}

#page-account-global .module p
{
    font-size: 1.9em;
    text-align: justify;
}

#page-account .picture-user
{
    display: inline-block;
    overflow: hidden;
    padding: 0;
    border: 2px solid #343434;
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
}

#page-account .picture-user img
{
    height: 16em;
    width: 16em;
}

#global-info-account .picture-user
{
    height: 12em;
    width: 12em;
}

#global-info-account ul
{
    display: inline-block;
    font-size: 1.9em;
    line-height: 1.7em;
    padding-top: 1em;
    vertical-align: top;
}

#global-info-account b
{
    font-family: 'irregularisregular', Arial, sans-serif;
    font-size: 1.3em;
}

/* params */

.page-account-inner
{
    margin: 0 auto;
    text-align: left;
    width: 70%;
}

.page-account-inner .module
{
    display: block;
    float: none;
    width: auto;
}

.page-account-inner h1
{
    color: #00ade0;
    font-family: 'caviar_dreamsbold', Arial, sans-serif;
    font-size: 3em;
    font-weight: bold;
    line-height: 1.6em;
}

.page-account-inner h2
{
    font-family: 'caviar_dreamsbold', Arial, sans-serif;
    font-size: 2.2em;
    line-height: 3em;
    text-transform: uppercase;
}

.page-account-inner label
{
    display: inline-block;
    font-size: 2.2em;
    text-align: right;
    width: 35%;
}

.page-account-inner input[type=text],
.page-account-inner .select
{
    font-family: 'irregularisregular', Arial, sans-serif;
    height: 1.7em;
    font-size: 2.5em;
    margin: 0.15em 0.5em;
    padding: 0 1em;
    width: 40%;
}

.page-account-inner select
{
    font-family: 'irregularisregular', Arial, sans-serif;
    font-size: 1em;
}

.page-account-inner .row
{
    border-bottom: 1px solid #f1f1f1;
    padding: 0 1em 1.5em 1em;
}

.page-account-inner #link-account p
{
    font-size: 1.9em;
    line-height: 2.5em;
    margin: 0 0 0 2%;
    float: right;
    width: 64%
}

.page-account-inner #link-account a
{
    color: #f68b2c;
    text-decoration: none;
}

.page-account-inner #link-account .user-action
{
    float: right;
}

.page-account-inner #delete-account
{
    padding: 0 1em;
}

.page-account-inner #delete-account h2
{
    display: inline;
}

.page-account-inner #delete-account .user-action
{
    color: #8b8b8b;
    float: right;
    font-size: 1.9em;
    line-height: 3.3em;
    text-decoration: none;
}

.page-account-inner #delete-account .user-action:hover
{
    color: #f68b2c;
}

#delete-account #masked-delete
{
    display: none;
    max-width: 70em;
    margin: 0 auto;
}

#delete-account #masked-delete.open
{
    display: block;
}

#delete-account #masked-delete strong
{
    font-weight: bold;
    display: block;
}

#delete-account #masked-delete p
{
    font-size: 1.9em;
    text-align: justify;
}

#delete-account #masked-delete input[type=submit]
{
    float: right;
}

.page-account-inner #edit-account
{
    border: none;
    padding: 1em 19% 1.5em 18%;
}

#profile-account #edit-account
{
    padding: 1em 5% 1.5em 5%;
}

.page-account-inner #edit-account .save
{
    float: right;
}

input[type=submit]
{
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* profile */

#profile-account .loader-container
{
    float: right
}

#profile-account .checkbox
{
    font-size: 1.8em;
    line-height: 1.2em;
    margin: 0.5em 0 0 0;
}

#profile-account #global-info-account
{
    padding-top: 2em;
}

#profile-account #global-info-account #picture-profile
{
    display: inline-block;
    text-align: center;
    width: 28%;
}

#profile-account #global-info-account .user-action
{
    color: #515050;
    display: block;
    font-size: 1.6em;
    line-height: 1em;
    margin: 1em 0 0 0;
    text-decoration: none;
}

#completion-profile
{
    float: right;
    font-family: 'irregularisregular', Arial, sans-serif;
    font-size: 2.4em;
    font-weight: bold;
    text-align: right;
    min-width: 25em;
}

#details-profile
{
    width: 70%;
    float: right;
    vertical-align: top;
}

#details-profile .loader-container
{
    width: 100%;
}

#interests-account .checkbox
{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 118px;
}

#interests-account .checkbox:hover,
#interests-account input[type="checkbox"]:checked + .checkbox
{
    color: #f68b2c;
}

#interests-account h3
{
    color: #343434;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 1.9em;
    line-height: 2em;
    margin: 1.2em 0 0 0;
}

#interests-account li div
{
    display: none;
}

#interests-account li.active div
{
    display: block;
}

#childrens-account
{
    margin: 1em 0 0 0;
}

#familly-account label
{
    width: auto;
}

#familly-account .checkbox
{
    margin: 0 1em 0 0.5em;
    text-align: left;
}

/* responsive */

@media (max-width: 950px)
{   
    .page-account-inner #edit-account
    {
        padding: 1em 5% 1.5em 5%;
    }
}

@media (max-width: 700px)
{
    .page-account-inner
    {
        width: 98%;
    }
}

@media (max-width: 600px)
{
    #page-account-global
    {
        text-align: center;
    }
    
    #page-account-global .module
    {
        margin: 0 0 3em 0;
        min-height: inherit;
        min-width: inherit;
        width: 95%;
    }
    
    #page-account-global .module p
    {
        display: none;
    }
    
    #profile-account .checkbox
    {
        display: block;
    }
}

@media (max-width: 525px)
{
    #global-info-account b
    {
        display: block;
    }
    
    #details-profile
    {
        width: 64%;
    }
    
    .page-account-inner #link-account p
    {
        width: 60%;
    }
    
    input[type="submit"]
    {
        font-size: 2.7em;
    }
    
    #global-info-account .picture-user,
    #global-info-account .picture-user img
    {
        height: 9em;
        width: 9em;
    }
}
