#page-domain
{
    padding: 0 7%;
}

.module-content
{
    padding: 0 1.6em 1.6em 1.6em;
}


/* question */

#question img
{
    max-width: 60%;
}

#question .module-content
{
    background: url("../img/question-advice.png") no-repeat 98% 88%;
}

#answers-question
{
    font-size: 1.9em;
    display: inline-block;
    padding: 0 0 0 0.8em;
    vertical-align: top;
}

#answers-question .call-to-action
{
    margin: 0 0 0.8em 0;
    min-width: 12em;
}

/* ping light featured */

#ping-light-featured .affinity-info
{
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 67%;
}

#ping-light-featured .affinity-bot
{
    display: inline-block;
    float: left;
    margin: 0;
}

#ping-light-featured .affinity-score
{
    font-size: 2em;
    height: 3.5em;
    line-height: 4.4em;
    padding: 0 0.6em 0 0;
}

#ping-light-featured .affinity-info p
{
    display: block;
    font-weight: normal;
    line-height: 1em;
    margin: 1.5em 2em 0 0;
}

#ping-light-featured .affinity-info h2
{
    display: inline;
    font-family: 'caviar_dreamsbold', Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
}

#ping-light-featured .popular-products
{
    color: #343434;
    font-size: 3em;
    font-weight: bold;
    line-height: 1.6em;
}

#ping-light-featured .products
{
    margin: 0;
}

#ping-light-featured .ping-description
{
    display: inline-block;
    font-size: 1.9em;
    text-align: justify;
    margin: 1.5em 0 0 0;
    vertical-align: top;
    width: 32%;
}

#ping-light-featured .products .product-info
{
    width: 55%;
}

#ping-light-featured .products .product-info p
{
    font-weight: normal;
}

#ping-light-featured .products .product-from
{
    display: inline-block;
    float: none;
    text-align: right;
    vertical-align: middle;
    width: 25%;
}

#ping-light-featured .products .product-from .offer-count
{
    font-family: 'caviar_dreamsbold', Arial, sans-serif;
    font-size: 2em;
    line-height: 1.2em;
}

#ping-light-featured .products .product-from .price
{
    width: auto;
}

#ping-light-featured .more-action
{
    font-size: 1.9em;
    float: right;
    margin: 1em 0 0 0;
}

@media (max-width: 820px)
{
    #page-domain .module
    {
        width: 100%;
    }
    
    #advice,
    #did-you-know
    {
        width: 100%;
    }
}

@media (max-width: 600px)
{
    #question img
    {
        width: 100%;
        max-width: 100%;
    }
    
    #ping-light-featured .affinity-info,
    #ping-light-featured .ping-description
    {
        display: block;
        width: 100%;
    }
    
    #answers-question
    {
        display: block;
        margin: 1em 0 0 0;
        padding: 0;
        text-align: center;
    }
    
    #answers-question .call-to-action
    {
        width: 100%;
    }
}