
#footer
{
    background-color: #f7f7f7;
    border-top: 1px #00addf solid;
    text-align: center;
}

#footer nav.complementary
{
    display: inline-block;
    margin: 40px 6%;
    text-align: left;
    vertical-align: top;
}

#footer nav.complementary h4
{
    font-family: 'caviar_dreamsregular', Arial, sans-serif;
    font-size: 1.7em;
    line-height: 1em;
}

#footer nav.complementary a
{
    color: #343434;
    display: inline-block;
    margin: 0 2px 0 0;
    text-decoration: none;
}

#footer nav.complementary a:hover
{
    color: #00addf;
}

#footer .fb-like
{
    display: block;
    margin: 10px 0 0 0;
}

#footer ul
{
    padding: 0 0 0 14px;
}

#footer li
{
    list-style-image: url("../img/icon-list.png");
    margin-top: 0.8em;
}

#copyright
{
    background: #343434;
    border-top: 2px #00addf solid;
    color: #f7f7f7;
    line-height: 3.6em;
}