#header
{
    background: transparent;
    min-height: 70px;
}

#logo
{
    float: left;
    margin: 12px 0 0 55px;
}

/* SEARCH */
#search-container
{
    display: inline-block;
    margin: 22px 0 0 10%;
    min-width: 300px;
    width: 35%
}

#search input[type=text]
{
    border: none;
    height: 1.9em;
    line-height: 2.2em;
    text-indent: 0.5em;
    width: 88%;
    -webkit-border-radius: 10px 0 0 10px;
       -moz-border-radius: 10px 0 0 10px;
            border-radius: 10px 0 0 10px;
}

#search button
{
    background: #f17120;
    border: none;
    cursor: pointer;
    margin-left: -2px;
    height: 2em;
    vertical-align: top;
    -webkit-border-radius: 0 10px 10px 0;
       -moz-border-radius: 0 10px 10px 0;
            border-radius: 0 10px 10px 0;
}

/* SESSION */

#session
{
    color: #fff;
    float: right;
    font-family: Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.1em;
    margin: 27px 30px 0 0;
    text-transform: uppercase;
}

#session h4
{
    font-family: Arial, sans-serif;
    display: inline;
}

#session .dropdown
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin: 0 15px;
}

#session .dropdown:hover h4,
#session .dropdown.open h4
{
    color: #00addf;
}

.dropdown-menu
{
    display: none;
}

#session .dropdown.open .dropdown-menu
{
    cursor: auto;
    display: block;
}

.dropdown-menu
{
    background: #fff;
    border: 1px solid #e5e5e5;
    right: -120px;
    min-width: 290px;
    min-height: 50px;
    padding: 10px;
    position: absolute;
    top: 25px;
    z-index: 9;
}

#lang .dropdown-menu
{
    background: #fff;
    border: 1px solid #e5e5e5;
    right: -15px;
    min-width: inherit;
    min-height: 50px;
    padding: 10px;
    position: absolute;
    top: 25px;
}

.dropdown-menu input[type=text]
{
    background: #ecebec;
    border: none;
    line-height: 2em;
    padding: 0 10px;
    width: 272px;
}

.dropdown-menu .dropdown-arrow
{
    position: absolute;
    right: 0;
    text-align: center;
    top: -11px;
    width: 100%;
}