/* global */

#header
{
    background: transparent;
    min-height: 70px;
}

#logo
{
    display: inline-block;
    float: left;
    margin: 12px 0 0 55px;
}

/* SEARCH */
#search-container
{
    display: inline-block;
    margin: 22px 0 0 10%;
    position: relative;
    width: 35%
}

#search input[type=text]
{
    height: 2.2em;
    padding-left: 3%;
    width: 84%;
    -webkit-border-radius: 10px 0 0 10px;
       -moz-border-radius: 10px 0 0 10px;
            border-radius: 10px 0 0 10px;
}

#search button
{
    background: #f17120;
    border: none;
    cursor: pointer;
    margin-left: -5px;
    padding-left: .9em;
    height: 2.3em;
    vertical-align: top;
    -webkit-border-radius: 0 10px 10px 0;
       -moz-border-radius: 0 10px 10px 0;
            border-radius: 0 10px 10px 0;
}

#search-container .dropdown-menu
{
    left: 2px;
    right: auto;
    top: 39px;
    font-size: 1em;
    min-width: inherit;
    padding: 0 1%;
    width: 91%;
    z-index: 109;
}

#search-container .dropdown-menu h4
{
    color: #00ade0;
    font-size: 2.4em;
    font-weight: normal;
    line-height: 1.4em;
    margin: 1em 0 0 0;
    text-transform: uppercase;
}

#search-container .dropdown-menu a
{
    color: #343434;
    font-size: 1.9em;
    line-height: 1.2em;
    margin: 0 0 0 10px;
    text-transform: none;
    text-decoration: none;
}

#search-container .products 
{
    margin: 1em 0 0 1em;
}

#search-container .products img
{
    margin: 0 1em 0 0;
    width: 7em;
}

#search-container .product
{
    border: 1px solid #f1f1f1;
    cursor: pointer;
    margin: 0 0 0.4em 0;
    padding: 0.4em;
}

#search-container .product:nth-child(2n)
{
    background: #ededef;
}

#search-container .products .product-info
{
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

#search-container .products h5
{   
    color: #00ade0;
    font-size: 2.4em;
    font-weight: normal;
    line-height: 1.4em;
    text-transform: uppercase;
}

/* SESSION */

#session
{
    color: #fff;
    float: right;
    font-family: Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.1em;
    margin: 27px 30px 0 0;
    text-transform: uppercase;
}

#session h4
{
    font-family: Arial, sans-serif;
    display: inline;
}

.user-picture
{
    border: 1px solid #909090;
    min-height: 40px;
    min-width: 40px;
    margin: -1.1em 0.3em 0 0;
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
}

#session #user h4,
#session #user i
{
    vertical-align: top;
}

#session .dropdown
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin: 0 15px;
}

#session .dropdown h4:hover,
#session .dropdown.open h4
{
    color: #00addf;
}

.dropdown-menu
{
    display: none;
}

#session .dropdown.open .dropdown-menu,
#search-container.dropdown.open .dropdown-menu
{
    cursor: auto;
    display: block;
}

#session #last_name
{
    float: left;
    width: 41%;
}

#session #first_name
{
    float: right;
    width: 41%;
}

#session input[type=text]
{
    margin: 0 0 0.5em 0;
}

#session input[type=submit]
{
    float: right;
    font-size: 1.8em;
    margin: 0.3em 0 0 0;
}

.dropdown-menu
{
    background: #fff;
    border: 1px solid #e5e5e5;
    right: -120px;
    min-width: 290px;
    min-height: 50px;
    padding: 0.8em 0.8em 0 0.8em;
    position: absolute;
    top: 25px;
    z-index: 10;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

#session-facebook
{
    border-bottom: 1px solid #e5e5e5;
    padding: 0.8em 0 1.6em 0;
    margin: 0 0 10px 0;
    text-align: center;
}

#modal-avantages #login-facebook,
#session #login-facebook
{
    color: #fff;
    background: url("../img/sprite.png") no-repeat -2px -992px;
    display: inline-block;
    height: 33px;
    line-height: 2.8em;
    padding: 0 8px 0 0;
    text-align: right;
    text-decoration: none;
    text-transform: none;
    vertical-align: text-top;
    width: 209px;
}

#lang .dropdown-menu
{
    color: #343434;
    right: -15px;
    min-width: inherit;
}

#lang .dropdown-menu li
{
    cursor: pointer;
    margin: 0.5em 0;
}

#user .dropdown-menu
{
    font-size: 100%;
    right: -20px;
    min-width: inherit;
    padding: 0;
}

.dropdown-menu input[type=text],
.dropdown-menu input[type=password]
{
    line-height: 2em;
    padding: 0 10px;
    width: 272px;
}

.dropdown-menu .dropdown-arrow
{
    position: absolute;
    right: 0;
    text-align: center;
    top: -11px;
    width: 100%;
}

#user .dropdown-menu .dropdown-arrow
{
    text-align: right;
    right: 12px;
}

#user .dropdown-menu li a
{
    color: #343434;
    display: block;
    font-size: 1em;
    font-weight: 100;
    line-height: 2em;
    padding: 0 1em;
    text-decoration: none;
    text-transform: none;
    border-bottom: 1px solid #e5e5e5;
}

#user .dropdown-menu li a:hover
{
    background: #00addf;
    border-bottom: 1px solid #00addf;
    color: #fff;
}

#user .dropdown-menu li:last-child a
{
    border: none;
}

#user .dropdown-menu li:last-child a:hover
{
    -webkit-border-radius: 0 0 5px 5px;
       -moz-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
}

#user .dropdown-menu li:first-child a:hover
{
    -webkit-border-radius: 5px 5px 0 0;
       -moz-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
}

@media (max-width: 1100px)
{
    #search-container
    {
        margin: 22px 0 22px 5%;
        width: 30%;
    }
}

@media (max-width: 950px)
{
    #search-container
    {
        margin: 22px 0 22px 2%;
        width: 20%;
    }
    
    #search input[type=text]
    {
        width: 70%;
    }
    
    #search-container.dropdown.open .dropdown-menu
    {
        text-align: left;
    }
}

@media (max-width: 780px)
{
    #header
    {
        text-align: center;
    }
    
    #search-container
    {
        margin: 22px auto;
        width: 80%;
    }
}

@media (max-width: 630px)
{   
    #session
    {
        display: block;
        margin: 27px 10px 18px 0;
        width: 100%;
    }
    
    #logo
    {
        float: none;
        margin: 10px 0 0 0;
    }
    
    #sign-in .dropdown-menu
    {
        left: -18px;
        right: auto;
    }
    
    #sign-in .dropdown-menu .dropdown-arrow
    {
        left: 45px;
        text-align: left;
        width: auto;
    }
}