/* global */

#header
{
    background: transparent;
    min-height: 70px;
}

#logo
{
    display: inline-block;
    float: left;
    margin: 12px 0 0 55px;
}

/* SEARCH */
#search-container
{
    display: inline-block;
    font-size: 0em;
    letter-spacing: -1em;
    margin: 22px 0 0 10%;
    min-width: 300px;
    width: 35%;
}

#search-container form.visible
{
	display:inline-block;
	margin-left:10px;
	width:100%;
	min-width: auto;
}

#search.smallone
{
	width:300px;
}

#search input[type=text]
{
    height: 2.1em;
    padding-left: 3%;
    width: 85%;
    -webkit-border-radius: 10px 0 0 10px;
       -moz-border-radius: 10px 0 0 10px;
            border-radius: 10px 0 0 10px;
}

#search button
{
    background: #f17120;
    border: none;
    cursor: pointer;
    margin-left: -4px;
    padding-left: 1em;
    height: 2.3em;
    vertical-align: top;
    -webkit-border-radius: 0 10px 10px 0;
       -moz-border-radius: 0 10px 10px 0;
            border-radius: 0 10px 10px 0;
}

#small-search
{
	width:auto;
	display:none;
}

#small-search a
{
	color:#FFF;
	text-decoration: none;
	font-size:13px;
	font-family: Arial,sans-serif;
	font-weight: bold;
	display: inline-block;
	text-transform: uppercase;
}

#small-search a.notvisible
{
	display:none;
}

#small-search a:hover
{
	color:#00ADDF;
}

/* SESSION */

#session
{
    color: #fff;
    float: right;
    font-family: Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.1em;
    margin: 27px 30px 0 0;
    text-transform: uppercase;
}

#session.notvisible
{
	display:none;
}

#session h4
{
    font-family: Arial, sans-serif;
    display: inline;
}

#session #user img
{
    border: 1px solid #909090;
    min-height: 40px;
    min-width: 40px;
    margin: -1.1em 0.3em 0 0;
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
}

#session #user h4,
#session #user i
{
    vertical-align: top;
}

#session .dropdown
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin: 0 15px;
}

#session .dropdown h4:hover,
#session .dropdown.open h4
{
    color: #00addf;
}

.dropdown-menu
{
    display: none;
}

#session .dropdown.open .dropdown-menu
{
    cursor: auto;
    display: block;
}

#session #last_name
{
    float: left;
    width: 41%;
}

#session #first_name
{
    float: right;
    width: 41%;
}

#session input[type=text]
{
    margin: 0 0 0.5em 0;
}

#session input[type=submit]
{
    float: right;
    font-size: 1.8em;
    margin: 0.3em 0 0 0;
}

.dropdown-menu
{
    background: #fff;
    border: 1px solid #e5e5e5;
    right: -120px;
    min-width: 290px;
    min-height: 50px;
    padding: 0.8em 0.8em 0 0.8em;
    position: absolute;
    top: 25px;
    z-index: 9;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

#session-facebook
{
    border-bottom: 1px solid #e5e5e5;
    padding: 0.8em 0 1.6em 0;
    margin: 0 0 10px 0;
    text-align: center;
}

#session #login-facebook
{
    color: #fff;
    background: url("../img/sprite.png") no-repeat -2px -992px;
    display: inline-block;
    height: 33px;
    line-height: 2.8em;
    padding: 0 8px 0 0;
    text-align: right;
    text-decoration: none;
    text-transform: none;
    vertical-align: text-top;
    width: 209px;
}

#lang .dropdown-menu
{
    color: #343434;
    right: -15px;
    min-width: inherit;
}

#user .dropdown-menu
{
    font-size: 100%;
    right: -20px;
    min-width: inherit;
    padding: 0;
}

.dropdown-menu input[type=text],
.dropdown-menu input[type=password]
{
    line-height: 2em;
    padding: 0 10px;
    width: 272px;
}

.dropdown-menu .dropdown-arrow
{
    position: absolute;
    right: 0;
    text-align: center;
    top: -11px;
    width: 100%;
}

#user .dropdown-menu .dropdown-arrow
{
    text-align: right;
    right: 12px;
}

#user .dropdown-menu li a
{
    color: #343434;
    display: block;
    font-size: 1em;
    font-weight: 100;
    line-height: 2em;
    padding: 0 1em;
    text-decoration: none;
    text-transform: none;
    border-bottom: 1px solid #e5e5e5;
}

#user .dropdown-menu li a:hover
{
    background: #00addf;
    border-bottom: 1px solid #00addf;
    color: #fff;
}

#user .dropdown-menu li:last-child a
{
    border: none;
}

#user .dropdown-menu li:last-child a:hover
{
    -webkit-border-radius: 0 0 5px 5px;
       -moz-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
}

#user .dropdown-menu li:first-child a:hover
{
    -webkit-border-radius: 5px 5px 0 0;
       -moz-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
}

@media (max-width: 1107px)
{

	#search-container
	{
		width:20%;
		min-width: 300px;
		margin: 22px 0 0 15%;
		text-align: center;
	}

	#search-container form
	{
		display: none;
	}
	
	#small-search
	{
		display: inline-block;
		margin-right: 1em;
	}
	
	#search input[type=text]
    {
        width: 80%;
    }
	
}

@media (max-width: 750px)
{
    #header
    {
        text-align: center;
        min-height: auto;
    }
    
    #session
    {
        display: block;
        margin: 27px 10px 18px 0;
        width: 100%;
    }
    
    #logo
    {
        float: none;
        margin: 10px 0 0 0;
    }
    
    
    #search-container
    {
        margin: 22px 0;
        text-align: center;
        width: 80%;
        position: absolute;
        top: 0px;
        left:0px;
    }

    #search-container form
    {
	    display: none;
    }
    
    #small-search
    {
	    display: inline-block;
	    margin-right: 1em;
    }
    
    #search input[type=text]
    {
        width: 70%;
    }
}