/*

Colors:

grey: #f7f7f7
black: #343434
blue: #00addf
border grey : #e5e5e5
input grey : #ecebec

 */
html{
    font-size: 100%;
}

html,
body
{
    background: #2e2e2e;
    color: #343434;
    font-family: Arial, sans-serif;
    font-size: 0.62em;
    font-weight: 100;
    height: 100%;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
}

.clearfix
{
  *zoom: 1;
}

.clearfix:before,
.clearfix:after
{
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after
{
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'caviar_dreamsregular', Arial, sans-serif;
}

table
{
    border-spacing: 0;
    font-size: 1.9em;
    width: 100%;
}

b
{
    font-weight: bold;
}

i
{
    font-style: italic;
}

u
{
    text-decoration: underline;
}

/* content */

#wrapper
{
    overflow: hidden;
    position: relative;
}

.page
{
    background-color: #f7f7f7;
    border-top: 1px #00addf solid;
    border-left: 1px #00addf solid;
    float: none;
    min-height: 50em;
    overflow: hidden;
}

/* dashboard */

#dashboard
{
    background: transparent;
    color: #fff;
    float: left;
    height: 100%;
    min-width: 285px;
    padding-top: 50px;
}

#dashboard.closed
{
    min-width: 37px;
    width: 37px;
}

/* toggle */

#dashboard-toggle
{
    background: #00addf;
    cursor: pointer;
    font-family: 'caviar_dreamsregular', Arial, sans-serif;
    font-size: 3.8em;
    height: 39px;
    line-height: 1.8em;
    margin: 5px 0 0 0;
    padding: 0 2px 0 0;
    position: absolute;
    text-align: right;
    top: 5px;
    width: 318px;
}

#dashboard-toggle .toggle-arrow
{
    height: 39px;
    display: block;
    position: absolute;
    right: -19px;
    top: 0;
}

#dashboard.closed #dashboard-toggle
{
    width: 37px;
}

#dashboard.open .toggle-name
{
    display: inline;
}

#dashboard.closed .toggle-name
{
    display: none;
}

/* MENU */

#dashboard ul h4
{
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    line-height: 2em;
}

#dashboard ul h5
{
    font-family: Arial, sans-serif;
    font-size: 2.2em;
    line-height: 2em;
}

#dashboard ul h6,
#dashboard a
{
    color: #cac9c9;
    font-family: Arial, sans-serif;
    font-size: 1.9em;
    line-height: 1.5em;
    text-decoration: none;
}

#dashboard ul
{
    padding: 0 0 0 2.8em;
    /*display: none;*/
}

#dashboard .menu:hover,
#dashboard a:hover,
#dashboard .dropdown.open .menu:first-child
{
    color: #00addf;
    cursor: pointer;
}

#dashboard .dropdown.open ul:first-child
{
    display: block;
}

/* breadcrumbs */

#breadcrumbs
{
    font-size: 1.9em;
    line-height: 2.9em;
}

/* user actions */
.user-action {
    display: inline-block;
}

/* loader */

.loader-container
{
    background: #ecebec;
    border: 2px solid #ecebec;
    height: 12px;
    overflow: hidden;
    position: relative;
    width: 30em;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.loader
{
    background: url("../img/loader.jpg") repeat-x 0 0;
    height: 12px;
    width: 60%;
}