.modal-container
{
    display: none;
    position: fixed;
    overflow: auto;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5000;
}

.close-modal-background-target
{
    display: none;
    background: url('../img/modal.png');
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-container.open,
.modal-container.open .close-modal-background-target
{
    display: block;
}

.modal
{
    background-color: #fff;
    border: 1px solid #999 9;
    color: #2a2a2a;
    font-size: 14px;
    line-height: 16px;
    margin: 0 auto;
    overflow: visible;
    padding: 15px;
    position: relative;
    top: 80px;
    width: 560px;
    z-index: 6000;
    -webkit-box-shadow: 0 4px 12px rgba(0,0,0,.4);
       -moz-box-shadow: 0 4px 12px rgba(0,0,0,.4);
            box-shadow: 0 4px 12px rgba(0,0,0,.4);
}

.modal h2
{
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase;
}

.modal-close
{
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 7px;
}

/* expert */

#modal-expert h2
{
    text-align: left;
    line-height: 1.2em;
}

#modal-expert h3
{
    color: #00ade0;
    font-family: 'caviar_dreamsregular', Arial, sans-serif;
    font-size: 1.2em;
    line-height: 2em;
}

/* result */

#modal-result .modal
{
    width: 412px;
}

#modal-result .modal .result-product img
{
    width: 12em;
}

.modal .product-info
{
    float: right;
    width: 16.5em;
}

.modal .product-info h2
{
    color: #009fce;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0.4em 0 0 0;
    text-align: left;
}

.modal .product-description
{
    font-size: 0.8em;
    line-height: 1em;
}

.modal .product-from
{
    font-family: 'irregularisregular', Arial, sans-serif;
    font-size: 1.2em;
    margin: 0.6em 0 0 0;
    text-align: right;
}

.modal .product-from span
{
    color: #009fce;
}

.modal .product-from .price
{
    color: #f62c2c;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

.modal .more-action
{
    font-size: 0.9em;
}

.modal .product
{
    border: 1px solid #e5e5e5;
    margin: 0.6em 0 0 0;
    padding: 0.6em 0.4em;
}

.modal .product:nth-child(2n)
{
    background: #e7ebea;
}

.modal .product div
{
    display: inline-block;
    margin: 0 0.8em 0 0;
}

.modal .products .product-picture img
{
    width: 4em;
    vertical-align: middle;
}

.modal .products .product-seller img
{
    max-height: 2.4em;
    max-width: 4em;
    vertical-align: middle;
}

.modal .products p
{
    display: inline-block;
}

.modal .products .product-description
{
    width: 13.5em;
    vertical-align: middle;
}

.modal .products .product-seller
{
    width: 4em;
}

.modal .products .product-offer
{
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: 7em;
}

.modal .products .price
{
    color: #f62c2c;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

.modal .see-all-offers
{
    float: right;
    margin: 0.5em 0 0 0;
}

/* strong, weak */

#modal-strong
{
    float: left;
    width: 49%;
    text-align: center;
}

#modal-weak
{
    float: right;
    width: 49%;
    text-align: center;
}

#modal-strong-weak p
{
    width: auto;
}

#modal-strong-weak h3
{
    color: #00ade0;
    font-family: 'caviar_dreamsregular', Arial, sans-serif;
}

/* avantages */

#modal-avantages .modal
{
    width: 790px;
    padding: 15px 0 0 0;
}

#modal-avantages .avantages
{
    text-align: center;
}

#modal-avantages .avantages li
{
    display: inline-block;
    max-width: 10em;
    margin: 1em 0.2em;
    vertical-align: top;
}

#modal-sign-up
{
    border-top: 1px solid #dbd8d4;
}

#modal-avantages h3
{
    font-family: 'irregularisregular', Arial, sans-serif;
    font-size: 1.6em;
    line-height: 2em;
    text-align: center;
}

#modal-avantages #sign-up-facebook
{
    display: inline-block;
    padding: 0 0 15px 0;
    text-align: center;
    vertical-align: top;
    width: 49%;
}

#modal-avantages #login-facebook
{
    font-size: 0.9em;
    margin: 2em 0 0 0;
}

#modal-avantages #sign-up-email
{
    border-left: 1px solid #dbd8d4;
    display: inline-block;
    padding: 0 0 15px 0;
    vertical-align: top;
    text-align: center;
    width: 49%;
}

#sign-up-email form
{
    display: block;
    margin: 0 auto;
    width: 80%;
}

#modal-avantages input[type=text],
#modal-avantages input[type=password]
{
    margin: 0.4em 0 0 0;
    padding: 0.4em 2%;
}

#modal-avantages #sign-up-email input[name=first_name]
{
    float: left;
    width: 45%;
}

#modal-avantages #sign-up-email input[name=last_name]
{
    float: right;
    width: 45%;
}

#modal-avantages #sign-up-email input[name=email],
#modal-avantages #sign-up-email input[type=password]
{
    width: 96%;
}

#modal-avantages #sign-up-email input[type=submit]
{
    float: right;
    font-size: 1.6em;
    margin: 1em 0 0 0;
}

#modal-avantages #sign-up-email ul
{
    float: left;
    margin: 0.6em 0 0 0;
    text-align: left;
}

#modal-avantages input[type="radio"] + label
{
    color: #a7a7a7;
    font-size: 0.8em;
    line-height: 1em;
}

#modal-avantages input[type="radio"]:checked + label
{
    color: #4b4b4b;
}