/* module */

.module
{
    background: #fff;
    border: 1px solid #f1f1f1;
    float: left;
    margin: 0 0 1em 0;
    position: relative;
    width: 66%;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.module-punch
{
    background: url("../img/sprite.png") no-repeat -143px -206px;
    height: 19px;
    left: -2px;
    position: absolute;
    top: 10px;
    width: 13px;
}

.module h1,
.module h2
{
    color: #00ade0;
    font-size: 2.8em;
    font-weight: 600;
    line-height: 2em;
}


.module-content
{
    padding: 0 1.6em;
}

.module blockquote
{
    font-size: 1.9em;
    line-height: 2em;
    position: relative;
    text-align: justify;
}

.module .price
{
    color: #f62c2c;
    display: block;
    font-size: 3.1em;
    font-weight: bold;
}

.module .ping
{
    color: #f68b2c;
    font-size: 3.1em;
    font-weight: bold;
}

.module .available
{
    color: #24a601;
}

.module .unavailable
{
    color: #f62c2c;
}

/* products */

.module .products
{
    margin: 0 0 1.5em 0;
    width: 100%;
}

.module .products .product
{
    border: 1px solid #f1f1f1;
    margin: 0.3em 0 0 0;
    padding: 0.4em 0;
    width: 100%;
}

.module .products .product:nth-child(2n),
.module li .geoloc-products .product:nth-child(2n)
{
    background: #ededef;
}

.module .products div,
#filtered-products .geoloc-products .product div
{
    display: inline-block;
    vertical-align: middle;
}

.module .products img
{
    display: inline;
    margin: 0 0 0 1%;
    vertical-align: middle;
    width: 15%;
}

.module .products .product-geoloc
{
    text-align: center;
    position: relative;
    cursor: pointer;
}

#filtered-products .geoloc-products .product-geoloc .product-geoloc-map,
#geoloc-products .product-geoloc .product-geoloc-map
{
    background: #343434;
    bottom: 6em;
    display: none;
    height: 20em;
    left: -13.7em;
    position: absolute;
    width: 30em;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.3);
}

#filtered-products .product-geoloc .product-geoloc-map .map-arrow,
#geoloc-products .product-geoloc .product-geoloc-map .map-arrow
{
    bottom: -14px;
    position: absolute;
    text-align: center;
    width: 100%;
}

#filtered-products .geoloc-products .product-geoloc.dropdown.open .product-geoloc-map,
#geoloc-products .product-geoloc.dropdown.open .product-geoloc-map
{
    display: block;
}

.module .products .user-actions
{
    display: inline-block;
    float: none;
    border: none;
    line-height: 2em;
    margin: 1.5em 0 0 0;
    width: auto;
}

.module .products .user-actions li
{
    display: inline-block;
    max-width: 36px;
    margin: 1em 1.3em 1em 1.3em;
    vertical-align: top;
}

.module .products .user-actions a
{
    float: none;
    margin: 0;
    display: inline-block;
}

.module .products h3,
.product h3
{
    color: #00ade0;
    font-family: 'caviar_dreamsbold', Arial, sans-serif;
    font-size: 2.4em;
    font-weight: bold;
}

.module .products .product-from
{
    float: right;
}

.module .products .price
{
    height: auto;
    text-align: right;
    width: 19%;
}

.module .products .product-info,
#filtered-products .geoloc-products .product-info
{
    width: 29%;
    padding: 0 1%;
}

.module .products .product-info p
{
    font-size: 1.9em;
    font-weight: bold;
}

.module .products .product-seller
{
    width: 27%;
}

.module .products .product-seller img
{
    display: inline-block;
    vertical-align: middle;
    width: auto;
    max-width: 5.8em;
}

.module .products .product-seller ul
{
    display: inline-block;
    vertical-align: middle;
}

.dropdown .geoloc-products,
.dropdown .offer-products
{
    display: none;
}

.dropdown.open.geoloc .geoloc-products,
.dropdown.open.offer .offer-products
{
    display: block;
}

/* affinity info */

#affinity-info
{
    border-left: 2px solid #f1f1f1;
    float: right;
    font-family: 'irregularisregular', Arial, sans-serif;
    font-size: 2.2em;
    font-weight: bold;
    right: 4em;
    top: 0;
    height: 100%;
    position: absolute;
    padding: 0 2%;
    text-align: center;
    width: 22%;
}

#affinity-info > p
{
    margin: 2.5em 0 0 0;
}

/* user actions */

.user-actions
{
    border-left: 2px solid #f1f1f1;
    float: right;
    line-height: 5.6em;
    text-align: center;
    width: 7%;
}

#global-info-product .user-actions
{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: 6em;
}

/* advice & did you know */

#go .module-content,
#advice .module-content,
#did-you-know .module-content
{
    padding: 0 2.9em 2em 3.8em;
}

#go,
#advice,
#did-you-know
{
    float: right;
    width: 33%;
}

#go h3,
#advice h3,
#did-you-know h3
{
    font-size: 2.8em;
    font-family: 'irregularisregular', Arial, sans-serif;
    font-weight: bold;
    line-height: 2.5em;
}

#advice img
{
    width: 100%;
}

#advice a
{
    color: #f68b2c;
    font-size: 1.9em;
    text-decoration: none;
    float: right;
}

#go
{
    text-align: center;
}

#go h3
{
    text-align: left;
}

#go p
{
    font-size: 2em;
    text-align: left;
}

#go .call-to-action
{
    font-size: 2em;
    margin: 1em 0 0 0;
}

#go h2
{
    text-align: left;
}

#go-date
{
    font-family: 'irregularisregular', Arial, sans-serif;
    margin: 1em 0 0 0;
}

#go #go-date
{
    font-size: 3em;
}

#go-date strong
{
    color: #f68b2c;
    display: block;
    font-size: 2em;
}