/* module */

.module
{
    background: #fff;
    border: 1px solid #f1f1f1;
    float: left;
    margin: 0 0 1em 0;
    position: relative;
    width: 66%;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.module-punch
{
    background: url("../img/sprite.png") no-repeat -142px -206px;
    height: 19px;
    left: -2px;
    position: absolute;
    top: 10px;
    width: 12px;
}

.module h1,
.module h2
{
    color: #00ade0;
    font-size: 2.8em;
    font-weight: normal;
    line-height: 2em;
}


.module-content
{
    padding: 0 1.6em;
}

.module blockquote
{
    font-size: 1.9em;
    line-height: 1.4em;
    position: relative;
    text-align: justify;
}

.module .price
{
    color: #f62c2c;
    display: block;
    font-size: 3.1em;
    font-weight: bold;
}

.module .ping
{
    color: #f68b2c;
    font-size: 3.1em;
    font-weight: bold;
}

.module .available
{
    color: #24a601;
}

.module .unavailable
{
    color: #f62c2c;
}

/* products */

.module .products
{
    margin: 0 0 1.5em 0;
    width: 100%;
}

.module .products .product
{
    border: 1px solid #f1f1f1;
    margin: 0.3em 0 0 0;
    padding: 0.4em 0;
    width: 100%;
}

.module .dropdown:nth-child(2n) > .product,
.module .products .product:nth-child(2n),
.module li .geoloc-products .product:nth-child(2n)
{
    background: #ededef;
}

.module .products div,
#filtered-products .geoloc-products .product div
{
    display: inline-block;
    vertical-align: middle;
}

.module .products img
{
    display: inline;
    margin: 0 0 0 1%;
    vertical-align: middle;
    width: 15%;
}

.module .products .product-geoloc
{
    cursor: pointer;
    font-size: 1.5em;
    position: relative;
    text-align: center;
}

#filtered-products .geoloc-products .product-geoloc .product-geoloc-map,
#geoloc-products .product-geoloc .product-geoloc-map
{
    background: #343434;
    bottom: 6em;
    display: none;
    height: 20em;
    left: -13.7em;
    position: absolute;
    width: 30em;
    z-index: 9;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.3);
}

#filtered-products .product-geoloc .product-geoloc-map .map-arrow,
#geoloc-products .product-geoloc .product-geoloc-map .map-arrow
{
    left: 0;
    bottom: -14px;
    position: absolute;
    text-align: center;
    width: 100%;
}

#filtered-products .geoloc-products .product-geoloc.dropdown.open .product-geoloc-map,
#geoloc-products .product-geoloc.dropdown.open .product-geoloc-map
{
    display: block;
}

.module .products .user-actions
{
    display: inline-block;
    float: none;
    border: none;
    line-height: 2em;
    margin: 1.5em 0 0 0;
    width: auto;
}

.module .products .user-actions li
{
    display: inline-block;
    max-width: 36px;
    margin: 1em 1.3em 1em 1.3em;
    vertical-align: top;
}

.module .products .user-actions a
{
    float: none;
    margin: 0;
    display: inline-block;
}

.module .products h3,
.product h3
{
    color: #00ade0;
    font-family: 'caviar_dreamsbold', Arial, sans-serif;
    font-size: 2.4em;
    font-weight: bold;
}

.module .products .product-from
{
    float: right;
}

.module .products .price
{
    height: auto;
    text-align: right;
    width: 19%;
}

.module .products .product-info,
#filtered-products .geoloc-products .product-info
{
    width: 29%;
    padding: 0 1%;
}

.module .products .product-info p
{
    font-size: 1.9em;
    font-weight: bold;
}

.module .products .product-seller
{
    font-size: 1.5em;
    width: 27%;
}

.module .products .product-seller img
{
    display: inline-block;
    vertical-align: middle;
    width: auto;
    max-width: 5.8em;
}

.module .products .product-seller ul
{
    display: inline-block;
    vertical-align: middle;
}

.dropdown .geoloc-products,
.dropdown .offer-products
{
    display: none;
}

.dropdown.open.geoloc .geoloc-products,
.dropdown.open.offer .offer-products
{
    display: block;
}

/* affinity info */

#affinity-info
{
    border-left: 2px solid #f1f1f1;
    float: right;
    font-family: 'irregularisregular', Arial, sans-serif;
    font-size: 2.2em;
    font-weight: bold;
    right: 4em;
    top: 0;
    height: 100%;
    position: absolute;
    padding: 0 2%;
    text-align: center;
    width: 22%;
}

#affinity-info p:nth-child(1)
{
    margin: 2.5em 0 0 0;
}

.affinity-info
{
    font-family: 'irregularisregular', Arial, sans-serif;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
}


/* user actions */

.user-actions
{
    border-left: 2px solid #f1f1f1;
    float: right;
    line-height: 5.6em;
    text-align: center;
    padding-left:20px;
    width: 7%;
}

.user-action
{
    position: relative;
}

#global-info-product .user-actions
{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: 6em;
}

/* advice & did you know */

#go .module-content,
#advice .module-content,
#did-you-know .module-content
{
    padding: 0 2.9em 2em 3.8em;
}

#go,
#advice,
#did-you-know,
#results
{
    float: right;
    width: 33%;
}

#go h3,
#advice h3,
#did-you-know h3,
#results h3
{
    font-size: 2.8em;
    font-family: 'irregularisregular', Arial, sans-serif;
    font-weight: normal;
    line-height: 2.5em;
}

#advice img
{
    width: 100%;
}

#advice a
{
    color: #f68b2c;
    font-size: 1.9em;
    text-decoration: none;
    float: right;
}

#go
{
    text-align: center;
}

#go h3
{
    text-align: left;
}

#go p
{
    font-size: 2em;
    text-align: left;
}

#go .call-to-action
{
    font-size: 2em;
    margin: 1em 0 0 0;
}

#go h2
{
    text-align: left;
}

#go-date
{
    margin: 1em 0 0 0;
}

#go #go-date .go-offer
{
    font-family: 'irregularisregular', Arial, sans-serif;
    font-size: 2.6em;
    font-weight: bold;
}

#go #go-date .date
{
    font-family: 'caviar_dreamsregular', Arial, sans-serif;
    font-size: 5em;
    margin: 0.4em 0 0 0;
    text-align: left;
}

#go #go-date.step2 .date
{
    margin: 0;
}

#go-date strong
{
    color: #f68b2c;
    display: block;
    font-size: 2em;
}

#go #go-price img
{
    margin: 1em 0 0 0;
}

#go #go-price p
{
    text-align: center;
}

#go #go-price .price-promo
{
    margin: 1em 0 0 0;
    color: #838282;
    font-size: 3em;
}

#go #go-price .price
{
    font-size: 4em;
    margin: 0 0 1em 0;
}

/* filters */

.products-filters
{
    color: #8b8b8b;
    font-size: 1.9em;
    line-height: 2em;
}

.products-filters .products-pagination
{
    float: left;
}

.products-filters .products-sort
{
    float: right;
}

.products-filters li
{
    display: inline-block;
}

.products-filters a
{
    color: #8b8b8b;
    text-decoration: none;
}

.products-sort a
{
    margin: 0 0.4em 0 0;
}

.products-filters a:hover,
.products-filters a.active
{
    color: #f68b2c;
}

/* ping light */

.ping-light
{
    width: 32%;
}

.ping-light h2
{
    text-align: center;
    text-transform: uppercase;
}

.ping-light .product-thumbnails
{
    text-align: center;
    margin: 1em 0;
}

.ping-light .product-thumbnails li
{
    border: 1px solid #f1f1f1;
    cursor: pointer;
    display: inline-block;
    margin: 0.4em 0 0 0;
    padding: 0.4em 0;
    width: 31%;
}

.ping-light .product-thumbnails img
{
    width: 90%;
}

.ping-light .ping-description
{
    font-size: 1.9em;
    text-align: justify;
    line-height: 1.4em;
}

.ping-light .user-actions
{
    float: none;
    border-left: none;
    border-top: 1px solid #f1f1f1;
    line-height: 3em;
    margin: 0;
    position: relative;
    width: auto;
}

.ping-light .user-actions li
{
    display: inline;
}

.ping-light .user-actions a
{
    display: inline-block;
    float: none;
    margin: 0 4em 1em 4em;
    vertical-align: middle;
}

.ping-light .more-action
{
    float: right;
    font-size: 1.9em;
    margin: 0.4em 0 0 0;
}

/* share actions */

.share-actions
{
    display: none !important;
    background: #343434;
    height: 35px;
    left: 40px;
    position: absolute;
    padding: 0 0.8em;
    text-align: left;
    top: 13px;
    width: 100px;
    z-index: 9;
}

.user-action.active .share-actions,
.affinity-action.active .share-actions
{
    display: block !important;
}

.share-actions .share-action
{
    display: inline-block;
    line-height: 2em;
    margin: 0 1px !important;
    vertical-align: top;
}

#filtered-products .share-actions
{
    left: 30px;
    top: -4px;
}

#featured-products .share-actions
{
    top: -1px;
}

.affinity-action .share-actions
{
    left: 35px;
    top: -6px;
}

#page-quizz-end .user-action .share-actions,
#page-wishlist .user-action .share-actions,
#page-line .user-action .share-actions,
#page-domain .user-action .share-actions
{
    top: 2px;
}

/* columns */

#center-col
{
    float: left;
    width: 66%;
}

#center-col .module
{
    width: 100%;
}

#center-col .ping-light
{
    float: left;
    width: 49%;
}

#center-col .ping-light-2
{
    float: right;
}

@media (max-width: 820px)
{
    #center-col
    {
        width: 100%;
    }
}

/* responsive */

@media (max-width: 600px)
{
    .page,
    #page-account,
    #page-ping,
    #page-domain,
    #page-product,
    #page-quizz,
    #page-quizz-end,
    #page-wishlist,
    #page-news,
    #page-line
    {
        padding-top: 1em !important;
    }
    
    #did-you-know blockquote,
    #did-you-know a,
    #advice blockquote,
    #advice a,
    #news .actuality-filter ul,
    #news .actuality-filter a,
    #global-explain i,
    #global-explain p
    {
        display: none;
    }

}