#page-news
{
    padding: 0 0.6em 0 4%;
    text-align: center;
}

#breadcrumbs
{
    text-align: left;
}

.actuality
{
    float: left;
    margin: 0 1.4em 1.4em 0;
    text-align: left;
    width: 254px;
}

.actuality .module-content
{
    padding: 1em 1.8em;
}

.actuality h2
{
    color: #343434;
    font-family: 'irregularisregular', Arial, sans-serif;
    line-height: 1.2em;
}

.actuality-filter h2
{
    color: #00ade0;
    font-family: 'caviar_dreamsbold',Arial,sans-serif;
    font-size: 1.5em;
}

.actuality .ping-count
{
    font-size: 1.4em;
    font-family: 'irregularisregular', Arial, sans-serif;
    margin: 2em 0 0 0;
    text-align: left;
}

.actuality h3
{
    color: #00ade0;
    font-family: 'caviar_dreamsbold',Arial,sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    margin: 1.6em 0 0 0;
    text-align: center;
}

.actuality p
{
    text-align: center;
}

.actuality .more-action
{
    text-align: left;
}

.actuality .price
{
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
}

.actuality .from
{
    color: #009fce;
}

.actuality .user-actions
{
    float: none;
    border-left: none;
    border-top: 1px solid #f1f1f1;
    line-height: 3em;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}

.actuality .user-actions li
{
    display: inline;
}

.actuality .user-actions a
{
    color: #343434;
    float: none;
    vertical-align: middle;
}

.actuality .user-actions li
{
    display: inline-block;
    margin: 10px;
    max-width: 36px;
    line-height: 1em;
    vertical-align: top;
}

.actuality .more-action
{
    color: #f68b2c;
    text-decoration: none;
    display: block;
    margin-top:12px;
}

.actuality .message
{
    line-height: 1.6em;
    margin: 0.6em 0 0 0;
    text-align: justify;
}

.actuality img
{
    width: 100%;
}

/* filters */

#page-news .actuality-filter label
{
    display: block;
    font-size: 1.1em;
    line-height: 1.8em;
}

#page-news .actuality-filter .module-content > ul
{
    border-top: 1px solid #a7a7a7;
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
}

#select-all-news
{
    color: #a7a7a7;
    line-height: 2em;
    margin: 1em 0 0 0;
    text-decoration: none;
}

#page-news .actuality-filter label:hover
{
    color: #f68b2c;
}

.actuality-filter ul ul
{
    padding: 0 0 0 2em;
}

#news .icon-checkbox
{
	margin-top:2px;
}

/* affinity */

.actuality .affinity-info
{
    position: relative;
}

.actuality .affinity-info h2
{
    display: block;
    font-size: 1.4em;
    line-height: 1em;
    text-transform: uppercase;
}

.actuality .affinity-info p
{
    font-weight: normal;
}

.affinity-actions
{
    display: none;
    height: 90px;
    right: 25px;
    opacity: 0;
    position: absolute;
    top: 20px;
    width: 150px;
    z-index: 999;
}

.affinity-info.active .affinity-actions
{
    display: block;
}

.actuality .affinity-action
{
    position: absolute;
}

.actuality .affinity-share
{
    left: auto;
    right: 6px;
    top: 26px;
}

.actuality .affinity-like
{
    bottom: 3px;
    right: 13px;
    top: auto;
}

@media (max-width: 630px)
{
    .actuality
    {
        width: 98%;
    }
}