
#page-ping
{
    padding: 0 7%;
}

#global-info-product .module-content
{
    float: left;
    padding: 0 0em 0 1.6em;
    width: 63%;
}

#global-info-product .module-content p
{
    font-size: 1.9em;
    text-align: justify;
}

#global-info-product b
{
    display: block;
    margin: 0 0 1em 0;
}