/*
    Colors :

    module border grey : #f1f1f1
    title blue : #00ade0
    red price : #f62c2c
    orange link : #f68b2c
*/

#page-product
{
    padding: 0 7%;
}

/* global info */

#global-info-product
{
    position: relative;
}

#global-info-product .module-content
{
    float: left;
    padding: 0 0 1em 1.6em;
    width: 63%;
}

#global-info-product #categories-product
{
    color: #797979;
    font-size: 1.6em;
    padding: 0 0.4em;
    text-align: left;
}

#global-info-product #pictures-product
{
    float: left;
    position: relative;
    width: 27em;
    text-align: center;
}

#global-info-product #offers-product strong
{
    display: block;
    margin: 0 0 1em 0;
}

#global-info-product .product-picture
{
    display: inline-block;
    padding: 1em 0;
    width: 85%;
}

#global-info-product #offers-product p
{
    font-size: 1.9em;
}

#global-info-product #offers-product p:nth-child(n+2)
{
	margin: 1em 0 0 0;
}

#global-info-product .product-thumbnails li
{
    border: 1px solid #f1f1f1;
    cursor: pointer;
    display: inline-block;
    padding: 0.4em 1%;
    width: 28%;
}

#global-info-product .product-thumbnails img
{
    width: 80%;
}

#offer-products.module .products .product-info
{
    width: 31%;
}

#offer-products.module .products .product-seller
{
    width: 30%;
}

#geoloc-products .product-seller
{
    width: 25%;
}

/* geoloc */

#address
{
    font-size: 1.8em;
    line-height: 1.4em;
    float: left;
    min-height: 6em;
    width: 45%;
}

#geoloc
{
    font-size: 1.8em;
    line-height: 1.4em;
    float: right;
    min-height: 6em;
    position: relative;
    width: 55%;
}

#geoloc textarea
{
    background: #f1f1f1;
    border: none;
    font-size: 0.9em;
    padding: 2% 3%;
    width: 65%;
    vertical-align: middle;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

#geoloc button
{
    font-size: 1.9em;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    text-align: right;
    width: 28%;
}

/* features */

#features-products .module-content
{
    padding: 0 1.6em 1.3em 1.6em;
}

#features-products .feature-name
{
    color: #a97d57;
    padding: 0 2% 0 0;
    width: 35%;
}

#features-products td
{
    line-height: 1.4em;
    padding: 0 0 0.4em 0;
}

@media (max-width: 930px)
{
    #page-product .module
    {
        width: 100%;
    }
}

@media (max-width: 720px)
{
    #offers-product,
    #global-info-product #pictures-product
    {
        display: block;
        float: none;
        width: auto;
    }
}

@media (max-width: 530px)
{

    #global-info-product #pictures-product
    {
        float: none;
        width: auto;
    }
        
    #global-info-product .module-content
    {
        float: none;
        width: auto;
    }
    
    #global-info-product .user-actions
    {
        float: none;
        border-left: none;
        border-top: 1px solid #f1f1f1;
        line-height: 3em;
        margin: 0;
        position: relative;
        width: auto;
    }
    
    #global-info-product .user-actions li
    {
        display: inline;
    }
    
    #global-info-product .user-actions a
    {
        display: inline-block;
        float: none;
        margin: 0 1em 1em 1em;
        vertical-align: middle;
    }
    
    #affinity-info
    {
        float: none;
        border: none;
        margin: 0 auto;
        padding: 0 0 1em 0;
        position: relative;
        right: 0;
        width: 100%;
    }
    
    #affinity-info > p
    {
        margin: 1em 0 0 0;
    }
    
    #address,
    #geoloc
    {
        float: none;
        width: auto;
    }
    
    #filtered-products .product .user-actions
    {
        left: 0;
        position: absolute;
        top: 0;
    }
}

@media (max-width: 600px)
{
    #offer-products .product img,
    #geoloc-products .product img,
    #geoloc-products .product-geoloc
    {
        display: none !important;
    }
    
    #offer-products .price,
    #geoloc-products .price
    {
        width: 33%;
    }
}