/*
    Colors :

    module border grey : #f1f1f1
    title blue : #00ade0
*/

#page-product
{
    padding: 0 7%;
}

/* module */

.module
{
    background: #fff;
    border: 1px solid #f1f1f1;
    float: left;
    margin: 0 0 1em 0;
    min-height: 272px;
    width: 66%;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.module h1,
.module h2
{
    color: #00ade0;
    font-size: 2.8em;
    font-weight: 600;
    line-height: 2em;
}

.module-content
{
    padding: 0 1.6em;
}

/* global info product */

#global-info-product
{
    overflow: hidden;
    position: relative;
}

#global-info-product #user-actions
{
    border-left: 2px solid #f1f1f1;
    float: right;
    line-height: 5.6em;
    margin: 0 0 -5000px 0;
    padding: 0 0 5000px 0;
    text-align: center;
    width: 7%;
}

#global-info-product #affinity-info
{
    border-left: 2px solid #f1f1f1;
    float: right;
    margin: 0 0 -5000px 0;
    padding: 0 0 5000px 0;
    text-align: center;
    width: 15%;
}

#global-info-product .module-content
{
    float: left;
}

/* advice & did you know */

#advice .module-content,
#did-you-know .module-content
{
    padding: 0 2.9em 0 3.8em;
}

#advice,
#did-you-know
{
    float: right;
    width: 33%;
}

.module blockquote
{
    font-size: 1.9em;
    line-height: 2em;
    text-align: justify;
}