#page-quizz,
#page-quizz-end
{
    padding: 0 7%;
}

#page-quizz .loader-container
{
    margin-bottom: 1em;
    width: 66%;
}

.module-content
{
    padding: 0 1.6em 1.6em 1.6em;
}

h3
{
    font-size: 2.8em;
    font-family: 'irregularisregular', Arial, sans-serif;
}

/* question */

#question img
{
    max-width: 60%;
}

#answers-question
{
    display: inline-block;
    padding: 0 0 0 0.8em;
    vertical-align: top;
}

#answers-question .call-to-action
{
    margin: 0 0 0.8em 0;
    min-width: 12em;
}

/* quizz icons */

.quizz-icons
{
    position: relative;
    text-align: center;
}

.quizz-icons img
{
    max-width: 100%;
}

/* filters */

label
{
    display: inline-block;
    margin: 2em 0 0 0;
    width: 20%;
}

.select
{
    background: #d7d7d7 url("../img/select-arrow.png") no-repeat 96% 0.7em;
    font-family: 'irregularisregular', Arial, sans-serif;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px;
    width: 56%;
}

.filter
{
    display: inline-block;
    width: 57%;
}

.filter-callback
{
    color: #989797;
    display: inline-block;
    line-height: 1em;
    margin: 0 0 0 3%;
    width: 15%;
}

/* critera */

#critera label
{
    padding: 0 0 0 5%;
    width: 15%;
}

/* results */

#results .affinity-bot
{
    display: inline-block;
    float: left;
    margin: 0 11px 0 0;
    width: 50px;
}

.affinity-info
{
    position: relative;
}

#results .affinity-info
{
    display: inline-block;
    margin: 0 0 0 25px;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 100%;
}

#results .affinity-info h2
{
    display: block;
    font-size: 1.4em;
    line-height: 1em;
    text-transform: uppercase;
}

#results .affinity-info p
{
    font-weight: normal;
    width: 92%;
}

.affinity-actions
{
    display: none;
    height: 95px;
    left: -30px;
    opacity: 0;
    position: absolute;
    top: -30px;
    width: 100px;
    z-index: 999;
}

.affinity-info.active .affinity-actions
{
    display: block;
}

.affinity-action
{
    position: absolute;
}

.affinity-like
{
    right: 3px;
    top: 5px;
}

.affinity-share
{
    left: 14px;
    top: 4px;
}

.affinity-ping
{
    left: 0;
    top: 30px;
}

.affinity-wishlist
{
    left: 42px;
    top: 0;
}

.affinity-bot svg,
.affinity-bot div
{
    top: 0 !important;
}

.affinity-score
{
    font-size: 1.3em;
    line-height: 3.3em;
    text-indent: 0.2em;
    width: 50px;
}

#results .price
{
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
}

#results .from
{
    color: #009fce;
}

#results .product
{
    border-bottom: 1px solid #bfbfbf;
    margin: 3em 0 6em 0;
    padding: 0 0 1em 0;
}

#results .product:nth-child(4n)
{
    border: none;
    margin: 3em 0 0 0;
    padding: 0;
}

#results .product-thumbnails
{
    text-align: center;
    margin: 0 0 1em 0;
}

#results .product-thumbnails li
{
    border: 1px solid #f1f1f1;
    cursor: pointer;
    display: inline-block;
    margin: 0.3em;
    padding: 0.4em 0;
    width: 29%;
}

#results .product-thumbnails img
{
    width: 90%;
}

/* quizz end */

#global-explain
{
    width: 32%;
    margin: 0 1% 1em 0;
}

#global-explain .icon-wepi
{
    float: right;
    margin: 0.4em 0 0 0;
}

#global-explain p
{
    font-size: 1.9em;
    line-height: 1.2em;
    text-align: justify;
}

#global-explain strong
{
    font-family: 'irregularisregular', Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.5em;
}

#global-explain .user-picture
{
    min-height: 27px;
    min-width: 27px;
    height: 27px;
    vertical-align: text-bottom;
}

#page-quizz-end h2,
#page-quizz-end h3
{
    display: inline-block;
    margin: 0 1em 0 0;
}

/* criteria */

#page-quizz-end #criteria label
{
    text-indent: 4em;
}

#page-quizz-end #full-summary
{
    display: none;
}

#page-quizz-end #summary
{
    position: relative;
}

#page-quizz-end #summary.show-full-summary #summary-inner
{
    background: #fff;
    position: absolute;
    width: 100%;
    z-index: 99;
    -webkit-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.3);
}

#page-quizz-end #summary.show-full-summary #full-summary
{
    display: block;
}

#show-full-summary
{
    float: right;
    font-size: 1.9em;
    margin: 1em 0 0 0;
}

#page-quizz #summary.active h3,
#page-quizz #summary.active form
{
    display: block;
}

/* ping light */

#page-quizz-end .ping-light
{
    margin: 1em 1% 1em 0;
}

#page-quizz-end .ping-light h2
{
    text-align: center;
    margin: 0;
    width: 100%;
}

#page-quizz-end .affinity-info
{
    margin: 2em auto 0 auto;
    font-weight: normal;
    width: 200px;
}

#page-quizz-end .affinity-info p
{
    font-size: 1.3em;
}

#page-quizz-end .affinity-score
{
    font-size: 2.6em;
    line-height: 3em;
    width: 82px;
}

#page-quizz-end .ping-count
{
    font-size: 2.4em;
    font-family: 'irregularisregular', Arial, sans-serif;
    text-align: right;
}

#page-quizz-end .price
{
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
}

#page-quizz-end .from
{
    color: #009fce;
}

#page-quizz-end .affinity-actions
{
    height: 125px;
    left: auto;
    right: 25px;
    top: -30px;
    width: 150px;
}

#page-quizz-end .affinity-wishlist
{
    bottom: 37px;
    left: auto;
    right: -2px;
    top: auto;
}

#page-quizz-end .affinity-share
{
    left: auto;
    right: 6px;
    top: 26px;
}

#page-quizz-end .affinity-like
{
    bottom: 3px;
    right: 13px;
    top: auto;
}

#page-quizz-end .affinity-ping
{
    left: auto;
    right: 35px;
    top: 4px;
}

/* strongs */

#page-quizz-end .strongs h3
{
    color: #00ade0;
    display: block;
    font-family: 'caviar_dreamsregular', Arial, sans-serif;
    font-size: 2em;
    margin: 0;
}

#page-quizz-end .strongs p
{
    font-size: 1.6em;
    width: 100%
}

#page-quizz-end #pings-light
{
    text-align: center;
}

/* toggle */

.toggle
{
    display: inline-block;
    background: url("../img/toggle.png") no-repeat top right;
    cursor: pointer;
    height: 19px;
    margin: 0 3px 0 0;
    width: 45px;
    text-indent: -29px;
    vertical-align: middle;
    -webkit-border-radius: 14px;
       -moz-border-radius: 14px;
            border-radius: 14px;
}

.on .toggle
{
    background-position: top left;
    text-indent: 0px;
}

@media (max-width: 820px)
{
    #page-quizz-end #criteria label
    {
        text-indent: 0;
    }
    
    #page-quizz .module,
    #page-quizz-end .module
    {
        width: 100%;
    }
    
    #advice,
    #did-you-know
    {
        width: 100%;
    }
}

#pings-light
{
    clear: both;
    margin: 1em 0 0 0;
}

@media (max-width: 600px)
{
    #page-quizz .loader-container
    {
        width: 100%;
    }
    
    #question h1
    {
        margin-top: 0.4em;
        line-height: 1.4em;
    }
    
    #question .icon-wepi,
    #question img
    {
        display: none;
    }
    
    #ping-light-featured .affinity-info,
    #ping-light-featured .ping-description
    {
        display: block;
        width: 100%;
    }
    
    #answers-question
    {
        display: block;
        margin: 1em 0 0 0;
        padding: 0;
        text-align: center;
    }
    
    #answers-question .call-to-action
    {
        width: 80%;
    }
    
    /* filters */
    
    label
    {
        width: 38%;
    }
    
    #summary .icon-idea,
    .filter-callback
    {
        display: none;
    }
    
    #results .module-content .product
    {
        border: none;
        margin: 3em 0 0em 0;
    }
    
    #summary h3,
    #summary form,
    #results .module-content .product:nth-child(3n),
    #results .module-content .product:nth-child(4n)
    {
        display: none;
    }
}
