#page-wishlist
{
    padding: 0 4%;
    text-align: center;
}

#breadcrumbs
{
    text-align: left;
}

.wished-product
{
    float: left;
    margin: 0 1.4em 1.4em 0;
    text-align: left;
    width: 254px;
}

.wished-product .module-content
{
    padding: 1em 1.8em;
}

.wished-product h2
{
    color: #343434;
    font-family: 'irregularisregular', Arial, sans-serif;
}

.wished-product .ping-count
{
    font-size: 2.4em;
    font-family: 'irregularisregular', Arial, sans-serif;
    margin: 2em 0 0 0;
    text-align: left;
}

.wished-product h3
{
    color: #00ade0;
    font-family: 'caviar_dreamsbold',Arial,sans-serif;
    font-size: 2.4em;
    font-weight: bold;
    margin: 1.6em 0 0 0;
    text-align: center;
}

.wished-product p
{
    font-size: 2em;
    text-align: center;
}

.wished-product .more-action
{
    font-size: 1.9em;
    text-align: left;
}

.wished-product .price
{
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
}

.wished-product .from
{
    color: #009fce;
}

.wished-product .user-actions
{
    float: none;
    border-left: none;
    border-top: 1px solid #f1f1f1;
    line-height: 3em;
    margin: 0;
    position: relative;
    width: auto;
}

.wished-product .user-actions li
{
    display: inline;
}

.wished-product .user-actions a
{
    color: #343434;
    float: none;
    vertical-align: middle;
}

.wished-product .user-actions li
{
    display: inline-block;
    margin: 1em 1.6em 0.4em;
    max-width: 36px;
    line-height: 1em;
    vertical-align: top;
}

.wished-product .user-actions li span
{
    font-size: 1.6em;
}

/* affinity */

.wished-product .affinity-info
{
    position: relative;
}

.wished-product .affinity-info h2
{
    display: block;
    font-size: 1.4em;
    line-height: 1em;
    text-transform: uppercase;
}

.wished-product .affinity-info p
{
    font-weight: normal;
}

.affinity-actions
{
    display: none;
    height: 120px;
    right: 25px;
    opacity: 0;
    position: absolute;
    top: 6px;
    width: 150px;
    z-index: 999;
}

.affinity-info.active .affinity-actions
{
    display: block;
}

.wished-product .affinity-action
{
    position: absolute;
}

.wished-product .affinity-share
{
    cursor: pointer;
    left: auto;
    right: 6px;
    top: auto;
    bottom: 35px;
}

.wished-product .affinity-like
{
    bottom: 3px;
    right: 13px;
    top: auto;
}